body {
   background-color: #436436;
}

h2 {
   margin: 30px 0 8px 0;
   padding: 0;
}

.question {
   font-size: 18px;
   margin-bottom: 1px;
   padding-left: 8px;
}
.wrapper {
   max-width: 450px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
   padding: 0 20px;
}
.text {
   color: #fefefe;
   font-family: "Roboto", sans-serif;
}
.textarea,
input {
   border-radius: 24px;
   background-color: #7a8f72;
   border: none;
   color: #3d3d3d;
   padding: 5px 20px;
   margin-bottom: 10px;
}

.input {
   height: 35px;
}

.btn {
   height: 100px;
   width: 100px;
   border-radius: 50px;
   border: none;
   margin: 30px auto 0 auto;
   background-color: #7a8f72;
   color: white;
   font-size: 18px;
}
