
_Code/SPIFFS/.pio/build/esp32dev/.sconsign39.dblite
_Code/SPIFFS/.pio/build/esp32dev/FrameworkArduino/base64.cpp.o
_Code/SPIFFS/.pio/build/esp32dev/FrameworkArduino/cbuf.cpp.o
_Code/SPIFFS/.pio/build/esp32dev/FrameworkArduino/Esp.cpp.o
_Code/SPIFFS/.pio/build/esp32dev/FrameworkArduino/esp32-hal-adc.c.o
_Code/SPIFFS/.pio/build/esp32dev/FrameworkArduino/esp32-hal-bt.c.o
_Code/SPIFFS/.pio/build/esp32dev/FrameworkArduino/esp32-hal-cpu.c.o
_Code/SPIFFS/.pio/build/esp32dev/FrameworkArduino/esp32-hal-dac.c.o
_Code/SPIFFS/.pio/build/esp32dev/FrameworkArduino/esp32-hal-gpio.c.o
_Code/SPIFFS/.pio/build/esp32dev/FrameworkArduino/esp32-hal-i2c.c.o
_Code/SPIFFS/.pio/build/esp32dev/FrameworkArduino/esp32-hal-ledc.c.o
_Code/SPIFFS/.pio/build/esp32dev/FrameworkArduino/esp32-hal-log.c.o
_Code/SPIFFS/.pio/build/esp32dev/FrameworkArduino/esp32-hal-matrix.c.o
_Code/SPIFFS/.pio/build/esp32dev/FrameworkArduino/esp32-hal-misc.c.o
_Code/SPIFFS/.pio/build/esp32dev/FrameworkArduino/esp32-hal-psram.c.o
_Code/SPIFFS/.pio/build/esp32dev/FrameworkArduino/esp32-hal-rmt.c.o
_Code/SPIFFS/.pio/build/esp32dev/FrameworkArduino/esp32-hal-sigmadelta.c.o
_Code/SPIFFS/.pio/build/esp32dev/FrameworkArduino/esp32-hal-spi.c.o
_Code/SPIFFS/.pio/build/esp32dev/FrameworkArduino/esp32-hal-time.c.o
_Code/SPIFFS/.pio/build/esp32dev/FrameworkArduino/esp32-hal-timer.c.o
_Code/SPIFFS/.pio/build/esp32dev/FrameworkArduino/esp32-hal-touch.c.o
_Code/SPIFFS/.pio/build/esp32dev/FrameworkArduino/esp32-hal-uart.c.o
_Code/SPIFFS/.pio/build/esp32dev/FrameworkArduino/FunctionalInterrupt.cpp.o
_Code/SPIFFS/.pio/build/esp32dev/FrameworkArduino/HardwareSerial.cpp.o
_Code/SPIFFS/.pio/build/esp32dev/FrameworkArduino/IPAddress.cpp.o
_Code/SPIFFS/.pio/build/esp32dev/FrameworkArduino/IPv6Address.cpp.o
_Code/SPIFFS/.pio/build/esp32dev/FrameworkArduino/libb64/cdecode.c.o
_Code/SPIFFS/.pio/build/esp32dev/FrameworkArduino/libb64/cencode.c.o
_Code/SPIFFS/.pio/build/esp32dev/FrameworkArduino/main.cpp.o
_Code/SPIFFS/.pio/build/esp32dev/FrameworkArduino/MD5Builder.cpp.o
_Code/SPIFFS/.pio/build/esp32dev/FrameworkArduino/Print.cpp.o
_Code/SPIFFS/.pio/build/esp32dev/FrameworkArduino/stdlib_noniso.c.o
_Code/SPIFFS/.pio/build/esp32dev/FrameworkArduino/Stream.cpp.o
_Code/SPIFFS/.pio/build/esp32dev/FrameworkArduino/StreamString.cpp.o
_Code/SPIFFS/.pio/build/esp32dev/FrameworkArduino/wiring_pulse.c.o
_Code/SPIFFS/.pio/build/esp32dev/FrameworkArduino/wiring_shift.c.o
_Code/SPIFFS/.pio/build/esp32dev/FrameworkArduino/WMath.cpp.o
_Code/SPIFFS/.pio/build/esp32dev/FrameworkArduino/WString.cpp.o
_Code/SPIFFS/.pio/build/esp32dev/libFrameworkArduino.a
_Code/SPIFFS/.pio/build/esp32dev/libFrameworkArduinoVariant.a
_Code/SPIFFS/.pio/build/esp32dev/partitions.bin
_Code/SPIFFS/.pio/build/esp32dev/src/main.cpp.o
_Code/SPIFFS/.pio/build/project.checksum
_Code/SPIFFS/.vscode/c_cpp_properties.json
_Code/SPIFFS/.vscode/launch.json
_Code/Webform/node_modules/reorient-css/test/test.js
_Code/Webform/src/main.cpp
_Code/Webform_v2/.pio/build/esp32dev/.sconsign39.dblite
_Code/Webform_v2/.pio/build/esp32dev/firmware.bin
_Code/Webform_v2/.pio/build/esp32dev/firmware.elf
_Code/Webform_v2/.pio/build/esp32dev/FrameworkArduino/base64.cpp.o
_Code/Webform_v2/.pio/build/esp32dev/FrameworkArduino/cbuf.cpp.o
_Code/Webform_v2/.pio/build/esp32dev/FrameworkArduino/Esp.cpp.o
_Code/Webform_v2/.pio/build/esp32dev/FrameworkArduino/esp32-hal-adc.c.o
_Code/Webform_v2/.pio/build/esp32dev/FrameworkArduino/esp32-hal-bt.c.o
_Code/Webform_v2/.pio/build/esp32dev/FrameworkArduino/esp32-hal-cpu.c.o
_Code/Webform_v2/.pio/build/esp32dev/FrameworkArduino/esp32-hal-dac.c.o
_Code/Webform_v2/.pio/build/esp32dev/FrameworkArduino/esp32-hal-gpio.c.o
_Code/Webform_v2/.pio/build/esp32dev/FrameworkArduino/esp32-hal-i2c.c.o
_Code/Webform_v2/.pio/build/esp32dev/FrameworkArduino/esp32-hal-ledc.c.o
_Code/Webform_v2/.pio/build/esp32dev/FrameworkArduino/esp32-hal-log.c.o
_Code/Webform_v2/.pio/build/esp32dev/FrameworkArduino/esp32-hal-matrix.c.o
_Code/Webform_v2/.pio/build/esp32dev/FrameworkArduino/esp32-hal-misc.c.o
_Code/Webform_v2/.pio/build/esp32dev/FrameworkArduino/esp32-hal-psram.c.o
_Code/Webform_v2/.pio/build/esp32dev/FrameworkArduino/esp32-hal-rmt.c.o
_Code/Webform_v2/.pio/build/esp32dev/FrameworkArduino/esp32-hal-sigmadelta.c.o
_Code/Webform_v2/.pio/build/esp32dev/FrameworkArduino/esp32-hal-spi.c.o
_Code/Webform_v2/.pio/build/esp32dev/FrameworkArduino/esp32-hal-time.c.o
_Code/Webform_v2/.pio/build/esp32dev/FrameworkArduino/esp32-hal-timer.c.o
_Code/Webform_v2/.pio/build/esp32dev/FrameworkArduino/esp32-hal-touch.c.o
_Code/Webform_v2/.pio/build/esp32dev/FrameworkArduino/esp32-hal-uart.c.o
_Code/Webform_v2/.pio/build/esp32dev/FrameworkArduino/FunctionalInterrupt.cpp.o
_Code/Webform_v2/.pio/build/esp32dev/FrameworkArduino/HardwareSerial.cpp.o
_Code/Webform_v2/.pio/build/esp32dev/FrameworkArduino/IPAddress.cpp.o
_Code/Webform_v2/.pio/build/esp32dev/FrameworkArduino/IPv6Address.cpp.o
_Code/Webform_v2/.pio/build/esp32dev/FrameworkArduino/libb64/cdecode.c.o
_Code/Webform_v2/.pio/build/esp32dev/FrameworkArduino/libb64/cencode.c.o
_Code/Webform_v2/.pio/build/esp32dev/FrameworkArduino/main.cpp.o
_Code/Webform_v2/.pio/build/esp32dev/FrameworkArduino/MD5Builder.cpp.o
_Code/Webform_v2/.pio/build/esp32dev/FrameworkArduino/Print.cpp.o
_Code/Webform_v2/.pio/build/esp32dev/FrameworkArduino/stdlib_noniso.c.o
_Code/Webform_v2/.pio/build/esp32dev/FrameworkArduino/Stream.cpp.o
_Code/Webform_v2/.pio/build/esp32dev/FrameworkArduino/StreamString.cpp.o
_Code/Webform_v2/.pio/build/esp32dev/FrameworkArduino/wiring_pulse.c.o
_Code/Webform_v2/.pio/build/esp32dev/FrameworkArduino/wiring_shift.c.o
_Code/Webform_v2/.pio/build/esp32dev/FrameworkArduino/WMath.cpp.o
_Code/Webform_v2/.pio/build/esp32dev/FrameworkArduino/WString.cpp.o
_Code/Webform_v2/.pio/build/esp32dev/lib159/libWiFi.a
_Code/Webform_v2/.pio/build/esp32dev/lib159/WiFi/ETH.cpp.o
_Code/Webform_v2/.pio/build/esp32dev/lib159/WiFi/WiFi.cpp.o
_Code/Webform_v2/.pio/build/esp32dev/lib159/WiFi/WiFiAP.cpp.o
_Code/Webform_v2/.pio/build/esp32dev/lib159/WiFi/WiFiClient.cpp.o
_Code/Webform_v2/.pio/build/esp32dev/lib159/WiFi/WiFiGeneric.cpp.o
_Code/Webform_v2/.pio/build/esp32dev/lib159/WiFi/WiFiMulti.cpp.o
_Code/Webform_v2/.pio/build/esp32dev/lib159/WiFi/WiFiScan.cpp.o
_Code/Webform_v2/.pio/build/esp32dev/lib159/WiFi/WiFiServer.cpp.o
_Code/Webform_v2/.pio/build/esp32dev/lib159/WiFi/WiFiSTA.cpp.o
_Code/Webform_v2/.pio/build/esp32dev/lib159/WiFi/WiFiUdp.cpp.o
_Code/Webform_v2/.pio/build/esp32dev/lib401/FS/FS.cpp.o
_Code/Webform_v2/.pio/build/esp32dev/lib401/FS/vfs_api.cpp.o
_Code/Webform_v2/.pio/build/esp32dev/lib401/libFS.a
_Code/Webform_v2/.pio/build/esp32dev/libf27/libWebServer.a
_Code/Webform_v2/.pio/build/esp32dev/libf27/WebServer/detail/mimetable.cpp.o
_Code/Webform_v2/.pio/build/esp32dev/libf27/WebServer/Parsing.cpp.o
_Code/Webform_v2/.pio/build/esp32dev/libf27/WebServer/WebServer.cpp.o
_Code/Webform_v2/.pio/build/esp32dev/libFrameworkArduino.a
_Code/Webform_v2/.pio/build/esp32dev/libFrameworkArduinoVariant.a
_Code/Webform_v2/.pio/build/esp32dev/partitions.bin
_Code/Webform_v2/.pio/build/esp32dev/src/main.cpp.o
_Code/Webform_v2/.pio/build/project.checksum
_Code/Webform_v2/.vscode/c_cpp_properties.json
_Code/Webform_v2/.vscode/launch.json
_Code/Webform_v3/.pio/build/esp32dev/.sconsign39.dblite
_Code/Webform_v3/.pio/build/esp32dev/firmware.bin
_Code/Webform_v3/.pio/build/esp32dev/firmware.elf
_Code/Webform_v3/.pio/build/esp32dev/FrameworkArduino/base64.cpp.o
_Code/Webform_v3/.pio/build/esp32dev/FrameworkArduino/cbuf.cpp.o
_Code/Webform_v3/.pio/build/esp32dev/FrameworkArduino/Esp.cpp.o
_Code/Webform_v3/.pio/build/esp32dev/FrameworkArduino/esp32-hal-adc.c.o
_Code/Webform_v3/.pio/build/esp32dev/FrameworkArduino/esp32-hal-bt.c.o
_Code/Webform_v3/.pio/build/esp32dev/FrameworkArduino/esp32-hal-cpu.c.o
_Code/Webform_v3/.pio/build/esp32dev/FrameworkArduino/esp32-hal-dac.c.o
_Code/Webform_v3/.pio/build/esp32dev/FrameworkArduino/esp32-hal-gpio.c.o
_Code/Webform_v3/.pio/build/esp32dev/FrameworkArduino/esp32-hal-i2c.c.o
_Code/Webform_v3/.pio/build/esp32dev/FrameworkArduino/esp32-hal-ledc.c.o
_Code/Webform_v3/.pio/build/esp32dev/FrameworkArduino/esp32-hal-log.c.o
_Code/Webform_v3/.pio/build/esp32dev/FrameworkArduino/esp32-hal-matrix.c.o
_Code/Webform_v3/.pio/build/esp32dev/FrameworkArduino/esp32-hal-misc.c.o
_Code/Webform_v3/.pio/build/esp32dev/FrameworkArduino/esp32-hal-psram.c.o
_Code/Webform_v3/.pio/build/esp32dev/FrameworkArduino/esp32-hal-rmt.c.o
_Code/Webform_v3/.pio/build/esp32dev/FrameworkArduino/esp32-hal-sigmadelta.c.o
_Code/Webform_v3/.pio/build/esp32dev/FrameworkArduino/esp32-hal-spi.c.o
_Code/Webform_v3/.pio/build/esp32dev/FrameworkArduino/esp32-hal-time.c.o
_Code/Webform_v3/.pio/build/esp32dev/FrameworkArduino/esp32-hal-timer.c.o
_Code/Webform_v3/.pio/build/esp32dev/FrameworkArduino/esp32-hal-touch.c.o
_Code/Webform_v3/.pio/build/esp32dev/FrameworkArduino/esp32-hal-uart.c.o
_Code/Webform_v3/.pio/build/esp32dev/FrameworkArduino/FunctionalInterrupt.cpp.o
_Code/Webform_v3/.pio/build/esp32dev/FrameworkArduino/HardwareSerial.cpp.o
_Code/Webform_v3/.pio/build/esp32dev/FrameworkArduino/IPAddress.cpp.o
_Code/Webform_v3/.pio/build/esp32dev/FrameworkArduino/IPv6Address.cpp.o
_Code/Webform_v3/.pio/build/esp32dev/FrameworkArduino/libb64/cdecode.c.o
_Code/Webform_v3/.pio/build/esp32dev/FrameworkArduino/libb64/cencode.c.o
_Code/Webform_v3/.pio/build/esp32dev/FrameworkArduino/main.cpp.o
_Code/Webform_v3/.pio/build/esp32dev/FrameworkArduino/MD5Builder.cpp.o
_Code/Webform_v3/.pio/build/esp32dev/FrameworkArduino/Print.cpp.o
_Code/Webform_v3/.pio/build/esp32dev/FrameworkArduino/stdlib_noniso.c.o
_Code/Webform_v3/.pio/build/esp32dev/FrameworkArduino/Stream.cpp.o
_Code/Webform_v3/.pio/build/esp32dev/FrameworkArduino/StreamString.cpp.o
_Code/Webform_v3/.pio/build/esp32dev/FrameworkArduino/wiring_pulse.c.o
_Code/Webform_v3/.pio/build/esp32dev/FrameworkArduino/wiring_shift.c.o
_Code/Webform_v3/.pio/build/esp32dev/FrameworkArduino/WMath.cpp.o
_Code/Webform_v3/.pio/build/esp32dev/FrameworkArduino/WString.cpp.o
_Code/Webform_v3/.pio/build/esp32dev/lib159/libWiFi.a
_Code/Webform_v3/.pio/build/esp32dev/lib159/WiFi/ETH.cpp.o
_Code/Webform_v3/.pio/build/esp32dev/lib159/WiFi/WiFi.cpp.o
_Code/Webform_v3/.pio/build/esp32dev/lib159/WiFi/WiFiAP.cpp.o
_Code/Webform_v3/.pio/build/esp32dev/lib159/WiFi/WiFiClient.cpp.o
_Code/Webform_v3/.pio/build/esp32dev/lib159/WiFi/WiFiGeneric.cpp.o
_Code/Webform_v3/.pio/build/esp32dev/lib159/WiFi/WiFiMulti.cpp.o
_Code/Webform_v3/.pio/build/esp32dev/lib159/WiFi/WiFiScan.cpp.o
_Code/Webform_v3/.pio/build/esp32dev/lib159/WiFi/WiFiServer.cpp.o
_Code/Webform_v3/.pio/build/esp32dev/lib159/WiFi/WiFiSTA.cpp.o
_Code/Webform_v3/.pio/build/esp32dev/lib159/WiFi/WiFiUdp.cpp.o
_Code/Webform_v3/.pio/build/esp32dev/lib401/FS/FS.cpp.o
_Code/Webform_v3/.pio/build/esp32dev/lib401/FS/vfs_api.cpp.o
_Code/Webform_v3/.pio/build/esp32dev/lib401/libFS.a
_Code/Webform_v3/.pio/build/esp32dev/lib77b/HTTPClient/HTTPClient.cpp.o
_Code/Webform_v3/.pio/build/esp32dev/lib77b/libHTTPClient.a
_Code/Webform_v3/.pio/build/esp32dev/libbf8/libWiFiClientSecure.a
_Code/Webform_v3/.pio/build/esp32dev/libbf8/WiFiClientSecure/ssl_client.cpp.o
_Code/Webform_v3/.pio/build/esp32dev/libbf8/WiFiClientSecure/WiFiClientSecure.cpp.o
_Code/Webform_v3/.pio/build/esp32dev/libf27/libWebServer.a
_Code/Webform_v3/.pio/build/esp32dev/libf27/WebServer/detail/mimetable.cpp.o
_Code/Webform_v3/.pio/build/esp32dev/libf27/WebServer/Parsing.cpp.o
_Code/Webform_v3/.pio/build/esp32dev/libf27/WebServer/WebServer.cpp.o
_Code/Webform_v3/.pio/build/esp32dev/libFrameworkArduino.a
_Code/Webform_v3/.pio/build/esp32dev/libFrameworkArduinoVariant.a
_Code/Webform_v3/.pio/build/esp32dev/partitions.bin
_Code/Webform_v3/.pio/build/esp32dev/src/main.cpp.o
_Code/Webform_v3/.pio/build/project.checksum
_Code/Webform_v3/.vscode/c_cpp_properties.json
_Code/Webform_v3/.vscode/launch.json
_Code/Webform_v4/.vscode/extensions.json
_Code/Webform_v4/include/index.h
_Code/Webform_v4/include/webapp-index.h
_Code/Webform_v4/platformio.ini
_Code/Webform_v4/Readme.md
_Code/Webform_v4/src/main.cpp
_Code/Webform_v4/webapp/index.html
ArduinoIDETest/SPIFFSwithARduino/data/Test.txt
